.app {
    padding: 20px 0;
    min-width: 600px;
    min-height: 500px;
    border-radius: 10px;
    background: #fff;
}

.app h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}