@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('./resourses/img/blue_sky.jpg')center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(26, 26, 26);
}

body:after {
    content: '';
    position: absolute;
    top: 10%;
    right: 10%;
    background: rgba(255, 255, 255, .4);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
    z-index: -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}